<div class="jumbotron">
  <div class="container-fluid">
  <h1>Welcome to National Parks & Recs</h1>
  <p>We let you breath easy</p>
  <p>
    <%= link_to "See all parks", parks_path , class:"btn btn-primary btn-lg" %></p>
</div>
</div>
